%h1 Listing scan_items

%table
  %thead
    %tr
      %th Spec scan
      %th Baseline
      %th Upper
      %th Lower
      %th Time
      %th Power
      %th
      %th
      %th

  %tbody
    - @scan_items.each do |scan_item|
      %tr
        %td= scan_item.spec_scan_id
        %td= scan_item.baseline_id
        %td= scan_item.upper
        %td= scan_item.lower
        %td= scan_item.time
        %td= scan_item.power
        %td= link_to 'Show', scan_item
        %td= link_to 'Edit', edit_scan_item_path(scan_item)
        %td= link_to 'Destroy', scan_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Scan item', new_scan_item_path
