%p#notice= notice

%p
  %b Spec scan:
  = @scan_item.spec_scan_id
%p
  %b Baseline:
  = @scan_item.baseline_id
%p
  %b Upper:
  = @scan_item.upper
%p
  %b Lower:
  = @scan_item.lower
%p
  %b Time:
  = @scan_item.time
%p
  %b Power:
  = @scan_item.power

= link_to 'Edit', edit_scan_item_path(@scan_item)
\|
= link_to 'Back', scan_items_path
